{#Plantilla de nuestra aplicacion#}
{% extends 'base.html.twig' %}
{% block title %} Nuestro Equipo {% endblock %}
{# CONTENIDO #}
{% block contenido %}
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide container " style="background-color: #cbccce;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <h1 class="my-4"> Conoce Mostachos</h1>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img src="https://talleresbalseca.com.ec/wp-content/uploads/2021/05/IMG_20210214_093653-400x400.jpg" class="d-block w-60"  alt="...">
      <p class="mt-5"> Nullam ut iaculis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur vitae mi nec ligula consequat laoreet. Fusce consectetur facilisis mollis. Nunc lobortis lectus sed tellus molestie iaculis mattis mattis lectus. Suspendisse mattis velit et arcu feugiat, pellentesque dignissim quam lacinia. Curabitur condimentum, urna sit amet fermentum ultrices, mauris magna ultricies urna, eget elementum urna risus sed quam. Pellentesque ut fringilla nulla. </p>
        </div>
    <div class="carousel-item" data-bs-interval="2000" style="height: 600px">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0c0pDKXIuq9s5j_XwSA8l8Fhze-FLE_c2KA&usqp=CAU" class="d-block w-80" alt="...">
           <p class="mt-5"> Nullam ut iaculis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur vitae mi nec ligula consequat laoreet. Fusce consectetur facilisis mollis. Nunc lobortis lectus sed tellus molestie iaculis mattis mattis lectus. Suspendisse mattis velit et arcu feugiat, pellentesque dignissim quam lacinia. Curabitur condimentum, urna sit amet fermentum ultrices, mauris magna ultricies urna, eget elementum urna risus sed quam. Pellentesque ut fringilla nulla.</br>
           Nullam ut iaculis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur vitae mi nec ligula consequat laoreet. Fusce consectetur facilisis mollis. Nunc lobortis lectus sed tellus molestie iaculis mattis mattis lectus. Suspendisse mattis velit et arcu feugiat, pellentesque dignissim quam lacinia. Curabitur condimentum, urna sit amet fermentum ultrices, mauris magna ultricies urna, eget elementum urna risus sed quam. Pellentesque ut fringilla nulla.</br>
           Nullam ut iaculis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur vitae mi nec ligula consequat laoreet. Fusce consectetur facilisis mollis. Nunc lobortis lectus sed tellus molestie iaculis mattis mattis lectus. Suspendisse mattis velit et arcu feugiat, pellentesque dignissim quam lacinia. Curabitur condimentum, urna sit amet fermentum ultrices, mauris magna ultricies urna, eget elementum urna risus sed quam. Pellentesque ut fringilla nulla. </p>
    </div>
    <div class="carousel-item" data-bs-interval="2000" style="height: 800px">
      <img src="https://idc.brightspotcdn.com/dims4/default/09e6759/2147483647/thumbnail/600x600%5E/quality/90/?url=https%3A%2F%2Fidc.brightspotcdn.com%2F06%2Fc8%2Fbf076b794a18969741294f4b187c%2Fcuartoscuro-768792-digital.jpeg" class="d-block w-60" alt="...">
            <p class="mt-5"> Nullam ut iaculis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur vitae mi nec ligula consequat laoreet. Fusce consectetur facilisis mollis. Nunc lobortis lectus sed tellus molestie iaculis mattis mattis lectus. Suspendisse mattis velit et arcu feugiat, pellentesque dignissim quam lacinia. Curabitur condimentum, urna sit amet fermentum ultrices, mauris magna ultricies urna, eget elementum urna risus sed quam. Pellentesque ut fringilla nulla. </p>
    </div>
  </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
    
    <h1 class="my-4">Nuestro Menu</h1>
    
    <div class="d-flex p-2 ">

    {% for menu in menu %}
        <div class="card ms-3" style="width: 40rem;">
            <h2> <a href="{{path('menu', {'id' : menu.id})}}">{{menu.nombre}}</a> </h2>
        <img src={{menu.foto}} class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{menu.descripcion}}</p>
        </div>
        </div>
        {% endfor %}
            
</div>
</div>
{% endblock %}