{#Plantilla de nuestra aplicacion#}
{% extends 'base.html.twig' %}
{% block title %} Registro Usuario {% endblock %}
{# CONTENIDO #}
{% block contenido %}

<div class="container">
    <h1 class="mt-4 mb-3"> Mostachos!
        <small> Registro de usuario</small>
    </h1>
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="" alt"">
        </div>
        <div class="col-lg-6">
            <h2> Porque registarse</h2>
            <p> Nunc nec odio id sapien malesuada dapibus id nec eros. Vivamus sed lorem posuere, porttitor augue sit amet, facilisis sapien.</p>
            <p>Fusce id enim ut urna viverra molestie. Vivamus felis enim, varius non purus sit amet, pretium hendrerit neque. </p>
        </div>
    </div>


</div>


 {% endblock %}